<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:util="http://www.springframework.org/schema/util"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:jee="http://www.springframework.org/schema/jee"
        xmlns:lang="http://www.springframework.org/schema/lang"
        xmlns:jms="http://www.springframework.org/schema/jms"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
        http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd" 
       default-autowire="byName">

 <context:annotation-config/> 
 <bean id="configure"  class="net.java.efurture.reader.biz.configure.Configure">
      <property name="serverUrl" value="http://huidu.lanxijun.com"></property>
      <property name="serverMode" value="product"></property>
 </bean>
 
 
  <!-- 文件存储系统 -->
 <bean id="fileStore" class="com.google.code.filestore.DefaultFileStore">
      <property name="fileManager">
           <bean class="com.google.code.filestore.manager.LocalFileManager"/>
      </property>
      <property name="nameResolver" >
          <bean class="com.google.code.filestore.resolver.DefaultNameResolver">
             <property name="homeDir" value="/var/data/store/"></property> 
          </bean>
      </property>
 </bean>
 
</beans>