#Folder
/admin/bin/
/admin/target/
/biz/bin/
/biz/target/
/biz-test/bin/
/biz-test/target/
/common/bin/
/common/target/
/service/bin/
/service/target/
/spider/bin/
/spider/target/
service/target/
/service/target/
/web-common/target/
web-common/target/
.classpath
.project
.settings/
#Files
*.class
*.log
*.war